@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url(photos/background.jpg) center;
    background-size: cover;
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
}

.checked {
  color: orange;
}


nav {
    border: 1px solid black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.hero-image {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 50px;
}

.hero-image > div {
    height: 25vh;
    background-image: url(photos/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a_droite {
    display: flex;
    gap: 30px;
}

.a_droite a {
    text-decoration: none;
    color: black;
}

.up {
   text-align: end;
   padding-right: 20px;
   padding-top: 20px;
}

.boutique {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    padding: 50px 30px 50px 30px;
    justify-content: space-around;
}

.boutique::-webkit-scrollbar {
    display: none;
}

.boutique > div {
  box-shadow: 0 7px 7px black;
  margin-right: 20px;
}

.boutique > div > p {
    padding-left: 20px;
    padding-bottom: 10px;
}

.produit3 {
    padding-top: 10px;
}

.panier{
    background-color: black;
    color: white;
}

.panier:hover {
    opacity: 0.5;
    cursor: pointer;
}

.main {
    padding: 4% 10%;
    display: grid;
    width: 95vw;
    height: 120vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10%;
    box-shadow: 0 7px 7px;
    margin: 0 30px 0 30px;
}

main {
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

.main > div{
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.5rem;
a {
    color: #FFFFFF;
    text-decoration: none;
}
}

.main > div > h2{
    background-color: rgb(0, 0, 0, 0.6);
    padding-bottom: 30px;
}

.main > div:first-child {
    background-image: url(photos/forest1.jpg);
    background-size: cover;
}

.main > div:nth-child(2) {
    background-image: url(photos/forest2.jpg);
    background-size: cover;
}

.main > div:nth-child(3) {
    background: url(photos/main_3.jpg) center;
    background-size: cover;
}

.main > div:nth-child(4) {
    background: url(photos/main_4.jpg) center;
    background-size: cover;
}

.don {
    background-image: url(photos/don.jpg);
    margin: 50px 0 50px 0;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}

.don {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    color: white;
    font-size: 60px;
}

footer {
    background: url(photos/about.jpg);
    background-size: cover; 
    color: white;
}

.img {
    padding-left: 30px;
}

footer a {
     color: #fff;
}

.about {
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hfoot {
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.copyright {
    text-align: center;
    padding: 20px 0 30px 0;
}