@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url(photos/background.jpg) center;
    background-size: cover;
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
}

nav {
    border: 1px solid black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.a_droite {
    display: flex;
    gap: 30px;
}

.a_droite a {
    text-decoration: none;
    color: black;
}

.up {
   text-align: end;
   padding-right: 20px;
   padding-top: 20px;
}

.ou_on_est {
    text-align: center;
    padding-top: 10px;
}

h1 {
    padding-bottom: 10px;
    text-align: center;
}

.info {
    padding-left: 40px;
}

.info .infotext {
  visibility: hidden;
}

.info:hover .infotext {
  visibility: visible;
}

main {
    box-shadow: 0 7px 7px;
    height: 60vh;
    justify-content: center;
    margin: 40px 60px 40px;
    background: url(photos/form_background.jpg) center;
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    padding-left: 40px;
    padding-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea.taille {
  resize: vertical;
  max-height: 130px;
  min-height: 80px;
}

.envoyer{
    background-color: black;
    color: white;
    margin-top: 10px;
}

footer {
    background: url(photos/about.jpg);
    background-size: cover; 
    color: white;
}

.img {
    padding-left: 30px;
}

footer a {
     color: #fff;
}

.about {
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hfoot {
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.copyright {
    text-align: center;
    padding: 20px 0 30px 0;
}

.contact {
    padding-right: 45px;
}