@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url(photos/background.jpg) center;
    background-size: cover;
  font-family: "Epunda Slab", serif;
  font-optical-sizing: auto;
}

.formation {
    display: flex;
    flex-direction: row;
}

p, h2 {
    padding: 0 0px 0 10px;
}

form {
    padding-left: 7px;
}

.formation > div {
  box-shadow: 0 7px 7px black;
}

a {
  color: black;
  text-decoration: none;
  background-color: rgb(211, 211, 211);
  border: 1px solid black;
  border-radius: 3px;
}