@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url(photos/background.jpg) center;
    background-size: cover;
  font-family: "Epunda Slab", serif;
  font-optical-sizing: auto;
}

nav {
    border: 1px solid black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.a_droite {
    display: flex;
    gap: 30px;
}

.a_droite a {
    text-decoration: none;
    color: black;
}

.up {
   text-align: end;
   padding-right: 20px;
   padding-top: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 50px;
}

.banner > div {
    height: 25vh;
    background-image: url(photos/banner_don.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}

.description {
  font-size: large;
  text-align: justify;
  padding: 0 20px 0 20px;
}

.formation {
    display: flex;
    flex-direction: column;
}

footer {
    background: url(photos/about.jpg);
    background-size: cover; 
    color: white;
}

.img {
    padding-left: 30px;
}

footer a {
     color: #fff;
}

.about {
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hfoot {
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.copyright {
    text-align: center;
    padding: 20px 0 30px 0;
}

.formation {
    display: flex;
    flex-direction: row;
    padding: 50px 30px 40px 30px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.formation > div {
  box-shadow: 0 7px 7px black;
  margin: 0 30px 50px 0;
  padding-bottom: 10px;
}

p, h2 {
    padding: 0 10px 0 10px;
}

form {
    padding-left: 10px;
}
