@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url(photos/background.jpg) center;
    background-size: cover;
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
}

.checked {
  color: orange;
}

nav {
    border: 1px solid black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.a_droite {
    display: flex;
    gap: 30px;
}

.a_droite a {
    text-decoration: none;
    color: black;
}

.up {
   text-align: end;
   padding-right: 20px;
   padding-top: 20px;
}

footer {
    background: url(photos/about.jpg);
    background-size: cover; 
    color: white;
}

.img {
    padding-left: 30px;
}

footer a {
     color: #fff;
}

.about {
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hfoot {
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.copyright {
    text-align: center;
    padding: 20px 0 30px 0;
}

main {
    text-align: center;
    padding-top: 20px;
    background-color: rgb(241, 230, 215);
    margin: 40px 0 40px;
    border: 1px solid black;
}

main > div {
    height: 50vh;
    display: flex;
    background: url(photos/empty_basket.png) center;
    background-size: contain;
    background-repeat: no-repeat;
}