@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url(photos/background.jpg) center;
    background-size: cover;
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
}

.checked {
  color: orange;
}


nav {
    border: 1px solid black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.a_droite {
    display: flex;
    gap: 30px;
}

.a_droite a {
    text-decoration: none;
    color: black;
}

.up {
   text-align: end;
   padding-right: 20px;
   padding-top: 20px;
}

footer {
    background: url(photos/about.jpg);
    background-size: cover; 
    color: white;
}

.img {
    padding-left: 30px;
}

footer a {
     color: #fff;
}

.about {
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hfoot {
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.copyright {
    text-align: center;
    padding: 20px 0 30px 0;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px;
}

main > div {
    border: 1px solid black;
    background-color: white;
    padding: 50px 0 50px;
    margin: 50px 0 50px;
    background: url(photos/question1.jpg);
    background-size:cover;
    background-attachment: fixed;
}

main > div:nth-child(2) {
    margin-left: 300px;
    margin-right: 40px;
}

main > div:first-child {
    margin-right: 300px;
    margin-left: 40px;
}

main > div:last-child {
    margin-right: 300px;
    margin-left: 40px;
}

h2, p {
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(0, 0, 0, 0.6);
}

h2 {
    font-size: 40px;
}

.banner {
    background: url(photos/question_banner.jpg);
    background-size: cover;
    border: 1px solid black;
    height: 30vh;
    text-align: center;
}

h1 {
    color: white;
    padding-top: 50px;
    font-size: 70px;
    background-color: rgb(0, 0, 0, 0.5);
}

.question > a{
    text-decoration: none;
}