@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url(photos/background.jpg) center;
    background-size: cover;
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
}

.checked {
  color: orange;
}

nav {
    border: 0.0625rem solid black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.sac{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sac::-webkit-scrollbar {
    display: none;
}

.sac{
  box-shadow: 0 0.4375rem 0.4375rem black;
  margin: 1.875rem;
  background: url(photos/background_produit.jpg);
  background-size: contain;
}

.boutique::-webkit-scrollbar {
    display: none;
}

.description {
    padding: 1.25rem 0 1.25rem 1.875rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4375rem 0.4375rem black;
    margin: 1.875rem;
    background: url(photos/background_produit.jpg);
    background-size: cover;
}

.list {
    padding-left: 1.25rem;
}

.produits_similaire {
    padding-left: 1.875rem;
}

.boutique {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    padding: 3.125rem 1.875rem 3.125rem 0.125rem;
    justify-content: space-around;
}

.boutique::-webkit-scrollbar {
    display: none;
}

.boutique > div {
  box-shadow: 0 0.4375rem 0.4375rem black;
  margin-right: 1.25rem;
}

.boutique > div > p {
    padding-left: 1.25rem;
    padding-bottom: 0.625rem;
}

.produit3 {
    padding-top: 0.625rem;
}

.panier{
    background-color: black;
    color: white;
}

.panier:hover {
    opacity: 0.5;
    cursor: pointer;
}

.a_droite {
    display: flex;
    gap: 1.875rem;
}

.a_droite a {
    text-decoration: none;
    color: black;
}

.up {
   text-align: end;
   padding-right: 1.25rem;
   padding-top: 1.25rem;
}

footer {
    background: url(photos/about.jpg);
    background-size: cover; 
    color: white;
}

.img {
    padding-left: 1.875rem;
}

footer a {
     color: #fff;
}

.about {
    padding: 0 0 0.625rem 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hfoot {
    padding: 0 0 0.625rem 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.copyright {
    text-align: center;
    padding: 1.25rem 0 1.875rem 0;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 16px;
  }

  .sac, .boutique {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 16px 0;
    padding: 16px;
  }

  .description {
    margin: 16px;
    padding: 16px;
  }

  .a_droite {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .about, .hfoot {
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  .img {
    padding-left: 0;
    text-align: center;
  }

  footer {
    text-align: center;
  }
}
